<div class="card" style="width: auto; height: auto;
 font-family: Georgia, 'Times New Roman', Times, serif; color: rgb(83, 18, 139);">
  <div class="card-header">
    <h1><b>Welcome To Test</b> </h1>
  </div>
  <div class="card-body" style="margin: auto;color: black;">
   <h3>  Rules to follow during  online proctored exams: </h3>
   <p>1. You must use a functioning webcam and microphone</p>
  <p>2. No cell phones or other secondary devices in the room or test area</p>
  <p>3. Your desk/table must be clear or any materials except your test-taking device</p>
  <p>4. No one else can be in the room with you</p>
  <p>5. No talking</p>
  <p>6. The testing room must be well-lit and you must be clearly visible</p>
  <p>7. No dual screens/monitors</p>
  <p>8. Do not leave the camera</p>
  <p>9. No use of additional applications or internet</p>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (change)="onClickTerms()">
    <a href="" >Terms and conditions</a>
  </div>
  </div>
    <div  style="margin: auto;">
      <button class="btn" style="color: black; font-weight: bold;
      background-color: rgb(155, 57, 57); " type="button" [disabled]="!enable" (click)="proceed()"> Proceed</button>
    </div>

</div>

